{:source-paths ["src"]
 :dependencies [[reagent "1.1.1" :exclusions [cljsjs/react cljsjs/react-dom]]
                [kixi/stats "0.5.5"]
                [hashp "0.2.2"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:entries [simulator.core]}}
                :devtools {:preloads [hashp.core]
                           :before-load simulator.core/stop
                           :after-load simulator.core/start
                           :http-root "public"
                           :http-port 8020}}}}
